@charset "UTF-8";
.header
{
	background: url("./images/header.jpg");
	background-position: center; 
	background-size: cover;
    color: white;
    text-align: center;
    padding: 80px;
    font-family: Courier;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
   
}

body
{
	background: linear-gradient(to bottom, #664321 0%, #6F91B2 100%);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttons
{
	background: #214466;
	height: 50px;
}

button
{
	background: none;
	height: 50px;
	font-family: Courier;
	color: white;
	font-size: 20px;
	margin-right: 2px;
}

.right
{
	float: right;
}

.featured
{
	background: url("./images/wood.jpg");
	height: 393px;
	width: 585px;
	background-size: contain;
	margin-top: 1px;
	font-family: Courier;
    font-size: 50px;
    float: left;
}

.recipe
{
	font-family: Courier;
    font-size: 50px;
    text-align: center;
    height: 395px;
}

h3
{
	font-family: Courier;
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.login
{
	background: url("./images/mealPrep.jpg");
	background-repeat: no-repeat;
	height: 396px;
	width: 655px;
	background-size: contain;
	margin-top: 1px;
	font-family: Courier;
    font-size: 50px;
    float: left;
}

.footer
{
	width: 100%;
	background: #214466;
	height: 50px;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

input
{
	font-family: Courier;
    font-size: 40px;
}

.user
{
	margin-left: 30px;
}

.submit
{
	background: #214466;
	height: 50px;
	font-family: Courier;
	color: white;
	font-size: 20px;
	margin-right: 2px;
}

.ingredients
{
	background: url("./images/ingredients.jpg");
	background-repeat: no-repeat;
	height: 393px;
	width: 600px;
	background-size: contain;
	margin-top: 1px;
	font-family: Courier;
    font-size: 50px;
    float: left;
}

table
{
	font-family: Courier;
    font-size: 20px;
    border: solid;
    margin: auto;
    table-layout: fixed;
    margin-right: 30px;
}

th
{
	border: 1px solid black;
}

td
{
	border: 1px solid black;
	word-wrap: break-word;
}

.ing
{
	font-family: Courier;
    font-size: 15px;
}

.addIngredient
{
	float: left;
	height: 45px;
	width: 50px;
	margin-top:10px;
	margin-left: 35px;
	
}

.addRecipe
{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}

.newIng
{
	font-size: 20px;
}

.ingBox
{
	font-size: 20px;
	margin-bottom: 5px;
	font-family: Courier;
}

.recipeTitle
{
	font-size: 40px;
}

.recipeImage
{
	float: right;
	margin-right: 20px;
}

.recipeInfo
{
	float: left;
	margin-left: 20px;
	font-size: 20px;
}

li
{
	float: left;
}

.recipeDes
{
	float: left;
	width: 350px;
}

.recipePic
{
	background: url("./images/recipe.jpg");
	width: 525px;
	height: 790px;
	background-size: contain;
	margin-top: 1px;
	font-family: Courier;
    font-size: 50px;
    float: left;
}

.multipleRecipe
{
	font-family: Courier;
    font-size: 50px;
    text-align: center;
    height: 790px;
}

.ingredientTable
{
	width: 750px;
	margin-bottom: 0px;
}

.addIng
{
	margin-bottom: 70px;
	margin-top: 0px;
	float: right;
	margin-right: 200px;
}

.shoppingTable
{
	width: 750px;
	margin-bottom: 0px;
}

.checkout
{
	margin-right: 370px;
	margin-bottom: 80px;
	magin-top: 30px;
	float: right;
}

.grocery
{
	background: url("./images/grocery.jpg");
	height: 388px;
	width: 581px;
	background-size: contain;
	margin-top: 1px;
	font-family: Courier;
    font-size: 50px;
    float: left;
}

img
{
	margin-left: 60px;
	margin-top: 30px;
}

.featuredInfo
{
	float: left;
	text-align: left;
	width: 800px;
}

.error
{
	font-size: 20px;
}

.lineCols
{
	margin-left: 48px;
	font-family: Courier;
	font-size: 20px;
}

.notes
{
	width: 400px;
}

.nameCol
{
	width: 100px;
}

.unitCol
{
	width: 70px;
}

.regInputs
{
	float: right;
	margin-right: 50px;
	margin-left: 2px;
}

.reg
{
	text-align: right;
}

.aRecipe
{
	border: solid;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 400px;
	width: 800px;
	float: right;
	margin-right: 30px;
}

.indent
{
	text-indent: 10px;
	float: left;
}